* {
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  box-sizing: border-box; /* Ensures consistent box model behavior */
}
body,
html {
  width: 100%; /* Full width of the viewport */
  height: 100%; /* Full height of the viewport */
  overflow: auto; /* Hides overflow content */
}
/* Hide scrollbar for Webkit-based browsers (Chrome, Safari, etc.) */
body::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
